    .design {
        margin: 120px 0;
        padding: 0 150px;
        @include respond(tablet) {
            padding: 0 80px;
            margin: 30px 0;
        }
        .design-title {
            text-decoration: underline;
            text-align: center;
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 70px;
            @include respond(tablet) {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 40px;
            }
        }
        .design-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            gap: 150px;
            @include respond(tablet) {
                gap: 50px;
            }
            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 20px 38px;
                border-radius: 20px;
                gap: 20px;
                img {
                    height: 40px;
                    width: 38px;
                }
                p {
                    font-size: 24px;
                    font-weight: 500;
                }
            }
            .discover {
                background: #333124;
            }
            .define {
                background: #3F1F2C;
            }
            .ideate {
                background: #22343C;
            }
            .strategize {
                background: #293836;
            }
            .implement {
                background: #22343C;
            }
        }
    }