    header {
        max-width: 100%;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 100;
        padding: 20px 30px;
        opacity: 100;
        background-color: $body-color;
        @include respond(tablet) {
            padding: 10px 40px;
        }
        .main-header {
            max-width: 1024px;
            height: 55px;
            img {
                max-width: 55px;
                height: 20px;
                @include respond(tablet) {}
            }
            .nav {
                ul {
                    li {
                        font-size: 12px;
                        font-weight: 500;
                        transition: all .5s;
                    }
                    li:hover {
                        color: $pink;
                    }
                    li:not(:last-child) {
                        margin-right: 62px;
                    }
                    button {
                        width: 120px;
                        height: 42px;
                        font-size: 12px;
                        background: $pink;
                        border-radius: 20px;
                        transition: all .7s;
                    }
                }
                @include respond(tablet) {
                    display: none;
                }
            }
            .nav__toggle {
                color: $white;
                font-weight: 600;
                font-size: 3rem;
                cursor: pointer;
                display: none;
                @include respond(tablet) {
                    display: block;
                }
            }
        }
    }