main {
    margin-top: 80px;
    padding: 38px 60px;
    @include respond(tablet) {
        margin-top: 40px;
        margin-left: -20px;
    }
}

.home {
    margin-bottom: 200px;
    @include respond(tablet) {
        margin-top: 50px;
    }
    .container {
        display: flex;
        align-items: center;
        .home-data {
            flex-basis: 1000px;
            .hi {
                font-size: 28px;
                font-weight: 600;
                margin-bottom: 20px;
                @include respond(tablet) {
                    font-size: 14px;
                    margin-bottom: 10px;
                    flex-basis: 100%;
                }
            }
            .intro {
                font-size: 54px;
                font-weight: 700;
                margin-bottom: 20px;
                @include respond(tablet) {
                    font-size: 48px;
                    margin-bottom: 10px;
                }
            }
            .title {
                font-size: 44px;
                font-weight: 700;
                color: $pink;
                @include respond(tablet) {
                    font-size: 24px;
                }
            }
            .emoji {
                @include respond(tablet) {
                    width: 25px;
                    height: 30px;
                }
            }
            .contact-link {
                @include respond(tablet) {
                    margin-top: -40px;
                }
                .gmail-img {
                    @include respond(tablet) {
                        height: 13px;
                        width: 17px;
                    }
                }
                .gmail {
                    font-weight: 600;
                    @include respond(tablet) {
                        font-size: 13px;
                        margin-left: -10px;
                    }
                }
                .linked-img {
                    @include respond(tablet) {
                        height: 13px;
                        width: 17px;
                    }
                }
                .linked {
                    font-weight: 600;
                    @include respond(tablet) {
                        font-size: 13px;
                        margin-left: -10px;
                    }
                }
            }
        }
        .home-img {
            @include respond(tablet) {
                display: none;
            }
            flex-basis: 300px;
            img {
                margin-left: 60px;
                margin-top: 60px;
                max-width: 300px;
            }
        }
    }
}