/* Utilities */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  background-color: #1E2022;
  color: #FFFFFF;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 20px 30px;
  opacity: 100;
  background-color: #1E2022;
  /* ANIMATION */
}

header .main-header {
  max-width: 1024px;
  height: 55px;
}

header .main-header img {
  max-width: 55px;
  height: 20px;
}

header .main-header .nav ul li {
  font-size: 12px;
  font-weight: 500;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .main-header .nav ul li:hover {
  color: #FC8071;
}

header .main-header .nav ul li:not(:last-child) {
  margin-right: 62px;
}

header .main-header .nav ul button {
  width: 120px;
  height: 42px;
  font-size: 12px;
  background: #FC8071;
  border-radius: 20px;
  -webkit-transition: all .7s;
  transition: all .7s;
}

@media (max-width: 768px) {
  header .main-header .nav {
    display: none;
  }
}

header .main-header .menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}

header .main-header .menu-btn .menu-btn__burger {
  width: 30px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  display: none;
}

@media (max-width: 768px) {
  header .main-header .menu-btn .menu-btn__burger {
    display: block;
  }
}

header .main-header .menu-btn .menu-btn__burger::before,
header .main-header .menu-btn .menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header .main-header .menu-btn .menu-btn__burger::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
  top: 31px;
}

header .main-header .menu-btn .menu-btn__burger::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
  top: 17px;
}

header .menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

header .menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

main {
  margin-top: 150px;
}

@media (max-width: 768px) {
  main {
    margin-top: 40px;
  }
}

.home {
  padding: 38px 60px;
  margin-bottom: 200px;
}

@media (max-width: 768px) {
  .home {
    margin-top: 50px;
  }
}

.home .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .container .home-data {
  -ms-flex-preferred-size: 1000px;
      flex-basis: 1000px;
}

.home .container .home-data .hi {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .home .container .home-data .hi {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.home .container .home-data .intro {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .home .container .home-data .intro {
    font-size: 48px;
    margin-bottom: 10px;
  }
}

.home .container .home-data .title {
  font-size: 44px;
  font-weight: 700;
  color: #FC8071;
}

@media (max-width: 768px) {
  .home .container .home-data .title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .home .container .home-data .emoji {
    width: 25px;
    height: 30px;
  }
}

@media (max-width: 768px) {
  .home .container .home-data .contact-link {
    margin-top: -40px;
  }
}

@media (max-width: 768px) {
  .home .container .home-data .contact-link .gmail-img {
    height: 13px;
    width: 17px;
  }
}

.home .container .home-data .contact-link .gmail {
  font-weight: 600;
}

@media (max-width: 768px) {
  .home .container .home-data .contact-link .gmail {
    font-size: 13px;
    margin-left: -10px;
  }
}

@media (max-width: 768px) {
  .home .container .home-data .contact-link .linked-img {
    height: 13px;
    width: 17px;
  }
}

.home .container .home-data .contact-link .linked {
  font-weight: 600;
}

@media (max-width: 768px) {
  .home .container .home-data .contact-link .linked {
    font-size: 13px;
    margin-left: -10px;
  }
}

.home .container .home-img {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

@media (max-width: 768px) {
  .home .container .home-img {
    display: none;
  }
}

.home .container .home-img img {
  margin-left: 60px;
  margin-top: 60px;
  max-width: 300px;
}
/*# sourceMappingURL=style.css.map */